a{
    color: black;
}
.workarea__wrapper{
    margin-top: 80px;
    width: 100%;
    padding: 5vh 2%;
    display: flex;
    flex-direction: row;
}
.graphics{
    width: 100%;
    z-index: 5;
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    border-radius: 1px;
    padding: 10px 13px;
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.164)
}
.search__form{
    position: relative;
    transition: all 0.4s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
    align-items: baseline;
}
.search__input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 1px solid;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}
.fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    padding-right: 11px;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: right;
    font-size: 1em;
    transition: all 0.2s;
}
.search__form:hover{
    width: 200px;
    cursor: pointer;
}
.search__form:hover .search__input{
    display: block;
    border-color: rgba(128, 128, 128, 0.226);
}
.search__form:hover .fa{
    background: #07051a;
    color: white;
}
.select{
	position: relative;
	width: 250px;
    align-items: center;
}
.select.is-active .select__body {
	display: block;
}
.select__header{
	border: 1px solid #ccc;
	cursor: pointer;
	display: flex;
    align-items: center;
}
.select__current {
	font-size: 18px;
	line-height: 24px;
	padding: 8px;
}
.select__icon {
	align-items: center;
	display: flex;
	flex-shrink: 0;
	justify-content: center;
	margin-left: auto;
	text-align: center;
    display: inline-block;
    width: 0;
    height: 0;
    margin-right: 10px;
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: #000000 transparent transparent transparent;
}
.select__body {
	border: 1px solid #cccccc;
	border-top: 0;
	display: none;
	left: 0;
	position: absolute;
	right: 0;
	top: 100%;
    transition: 0.2s all ease;
}
.select__item {
	cursor: pointer;
	font-size: 16px;
	line-height: 24px;
	padding: 8px;
    background-color: white;
    border-bottom: 1px solid #f2f2f2;
}
.select__item:hover {
	background-color: #f2f2f2;
    transition: 0.1s all ease;
}
.graphics__filter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.226);
    padding-bottom: 8px;
}
.graphic{
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.137);
    transition: 0.01s all ease;
}
.graphic__image path{
    fill: black;
}
.graphic__image{
    width: 120px;
    height: 45px;
    position: relative;
    display: block;
}
.graphic .graphic__title{
    display: flex;
    flex-direction: column;
    min-width: 170px;
    justify-content: center;
}
.graphic__cond{
    color: rgb(163, 163, 163);
    display: block;
}
/* .graphic__currency:before{
    content: '/';
    color: black;
} */
.graphic__currency{
    color: rgb(44, 44, 44);
    font-style: italic;
}
.graphic *{
    display: block;
}
.green-text{
    color: rgb(14, 203, 129);
}
.red-text{
    color: rgb(246, 70, 93);
}
.grey-text{
    color: grey;
}
.graphic__percent{
    display: inline;
    margin: 0 auto;
    width: 60px;
}
.grey-block,
.red-block,
.green-block{
    background-color: rgb(14, 203, 129);
    color: white;
    padding: 7px;
    padding-top: 9px;
    border-radius: 3px;
    line-height: 100%;
}
.red-block{
    background-color: rgb(246, 70, 93);
}
.grey-block{
    background-color: grey;
}
.graphic__favourite{
    display: block;
    filter: saturate(0);
    width: 30px;
    cursor: pointer;
    transition: 0.1s all ease-out;
    height: 30px;
    position: relative;
}
.graphic__name.stattrack{
    color: rgb(207, 106, 50)
}
.graphic__name.souvenir{
    color: rgb(204, 173, 0);
}
.graphic__name.knife{
    color: rgb(134, 80, 172);
}
.graphic__favourite.is-active{
    filter: saturate(1);
}
.graphic__link{
    color: black;
    font-size: 28px;
    display: block;
    padding: 10px;
    cursor: pointer;
}
.graphic__link svg{
    margin: 0 auto;
}
a.graphic__link:active svg path,
.graphic__link svg path{
    fill: black;
    transition: 0.1s all ease;
}
.graphic__link:hover svg path{
    fill: grey;
}
.graphic__cond,
.graphic__percent,
.graphic__name,
.graphic__currency,
.graphic__price{
    margin-top: 2px;
    line-height: 100%;
}
.graphic__price{
    min-width: 140px;
    text-align: center;
}
.graphic__percent{
    min-width: 90px;
    text-align: center;
}
.graphic__name{
    display: flex;
    flex-direction: row;
    color: black;
}
a.graphic__title:hover{
    cursor: pointer;
}
a.graphic__title:hover .graphic__name{
    cursor: pointer;
    text-decoration: underline;
}

.pagination{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
.pagination__button{
    display: flex;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: white;
    border: 1px solid rgb(163, 163, 163);
    border-radius: 5px;
    text-align: center;
    transition: 0.2s all ease;
}
.pagination__pages{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}
.pagination__number{
    display: block;
    width: 100%;
    padding-top: 4px;
    line-height: 100%;
}
.pagination__arrow{
    margin: 0 auto;
    width: 13px;
    text-align: center;
}
.pagination__arrow.left{
    transform: rotate(90deg);
}
.pagination__arrow.right{
    transform: rotate(-90deg);
}
.pagination__button.current{
    background-color: black;
    border-color: transparent;
    color: white;
}
.pagination__button:hover{
    background-color: black;
    color: white;
}
.pagination__button.current:hover{
    background-color: rgba(128, 128, 128, 0.671);
}
.pagination__button.dots{
    border-color: transparent;
    align-items: flex-end;
}
.pagination__button.dots:hover{
    background-color: transparent;
    pointer-events: none;
    color: black;
}
.pagination__button.dots .pagination__number{
    cursor: default;
}
.pagination__arrow{
    transition: 0.2s all ease;
}
.pagination__button:hover .pagination__arrow path{
    fill: white;
}
.pagination__button:active{
    background-color: rgba(0, 0, 0, 0.712);
}
.pagination__button.current:active{
    background-color: rgba(0, 0, 0, 0.712);
}
.shadow{
    display: none;
}
header{
    background-color: white;
    border-bottom: 1px solid rgba(128, 128, 128, 0.137);    
}
.percent__wrapper{
    display: flex;
    justify-content: center;
}
.burger,
.burger:before,
.burger:after{
    background-color: #000000;
}
.right__element.box{
    border-color: black;
}
.right__element.box .r_element,
.right__element .r_element{
    color: rgb(75, 75, 75);
}
.right__element:hover .r_element{
    color: black;
}
.right__element.box:hover{
    background-color: black; 
}
.graphic__link-title{
    text-align: center;
}
@media(max-width:1065px){
    .empty,
    .no-mobile,
    .graphic__image,
    .graphic__favourite{
        display: none;
    }
    .graphic{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media(max-width: 800px){
    .graphic .graphic__title{
        justify-content: left;
    }
    .graphic{
        grid-template-columns: 1fr 1fr 0.55fr;
    }
    .select *,
    .graphic *{
        font-size: 18px;
    }
    .graphic__link-title,
    .graphic__link{
        display: none;
    }
}
@media(max-width:493px){
    .graphic:not(.tab):hover,
    .graphic:not(.tab):active{
        background-color: rgba(128, 128, 128, 0.164);
    }
    .select{
        width: 160px;
    }
    .select *,
    .graphic *{
        font-size: 15px;
    }
    .graphic__price{
        min-width: 100px;
    }
    .graphic .graphic__title{
        min-width: 130px;
    }
    .graphic__percent{
        min-width: 70px;
        width: auto;
        text-align: center;
        margin-left: auto;
    }
    .graphics{
        padding: 10px 0;
        border-radius: 0px;
        -webkit-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
        -moz-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
        box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
    }
    .workarea__wrapper{
        padding-left: 0;
        padding-right: 0;
    }
    .graphics__filter{
        padding-left: 5px;
        padding-right: 5px;
    }
    .pagination__button{
        width: 35px;
        height: 35px;
    }
    .dots{
        width: 20px;
    }
    .workarea__wrapper {
        margin-top: 0;
        padding-top: 59px;
    }
}